@use "/src/styles/colors" as *;

.serviceblock {
  display: flex;
  flex-direction: column;
  // background-color: #e7e0b4;
  align-items: center;
  gap: 1rem;

  &__wrapper {
    display: flex;
    flex-direction: row;
    height: 12rem;
    background-color: $serviceblock-background-color;
    width: 100%;
    //
  }

  &__day {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: 100%;
    background-color: $serviceblock-day-background-color;
    color: $primary-font-color;
    padding: 0.2rem;
    margin: 0.2rem;
    border: 1px solid $main-border-color;
    overflow-y: auto;
    scrollbar-width: none;
  }

  &__head {
    background-color: $serviceblock-head-background-color;
    min-height: 20px;
    padding: 0.2rem;
  }

  &__work {
    background-color: #3b2f1d;
    border-radius: 10px;
    height: fit-content;
    padding: 0.2rem;
    border: 1px solid $primary-border-color;
    font-size: 0.7rem;
    cursor: pointer;

    // overflow-x: hidden;
    // scrollbar-width: none;
    // overflow: hidden;
  }

  &__work-priority--0 {
    background-color: $serviceblock-work-prority--0;
  }

  &__work-priority--1 {
    background-color: $serviceblock-work-prority--1;
  }

  &__work-priority--2 {
    background-color: $serviceblock-work-prority--2;
  }

  &__work-id {
    font-size: 0.8rem;
    overflow-x: hidden;
  }

  &__work-time {
    font-style: italic;
    overflow-x: hidden;
  }

  &__work-customer {
    overflow-x: hidden;
  }

  &__person {
    background-color: $serviceblock-person-background-color;
    font-size: 12px;
  }
}
