@use "/src/styles/colors" as *;

.serviceblock-open {
  width: 90%;

  &__info {
    background-color: #535350;
    border-radius: 10px;
    height: 5rem;
    border: 1px solid $primary-border-color;
    font-size: 1rem;
    color: $primary-font-color;
    overflow-y: auto;
    scrollbar-width: none;
    padding: 0.5rem;
    cursor: pointer;
  }

  &__customer {
    width: fit-content;
    text-decoration: underline;
    text-decoration-color: #fffb00;
    text-decoration-thickness: 2px;
  }
}
