@use "/src/styles/colors" as *;

.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 12rem;
    background-color: $person-item-background-color;
    width: 90%;
    color: $primary-font-color;
    border-radius: 20px;
    cursor: pointer;

    p {
      display: inline-block;
      font-size: smaller;
    }
  }

  &__wrapper {
    height: fit-content;
    width: fit-content;
  }

  &__number {
    color: $primary-font-color;
    font-size: 0.8rem;
  }

  &__name {
    font-size: 1rem;
  }

  &__techfield {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
    width: 60%;
    height: fit-content;
    gap: 0.2rem;

    &--0 {
      color: $person-techfield--0;
    }

    &--1 {
      color: $person-techfield--1;
    }
    &--2 {
      color: $person-techfield--2;
    }

    &--3 {
      color: $person-techfield--3;
    }
    &--4 {
      color: $person-techfield--4;
    }
  }
}
