.person {
  display: flex;
  flex-direction: column;
  // background-color: #e7e0b4;
  align-items: center;
  gap: 1rem;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10rem;
    background-color: #3f3939;
    width: 90%;
    // overflow-y: auto;
    color: #ffffff;
    border-radius: 20px;

    p {
      display: inline-block;
      font-size: smaller;
    }
  }

  &__wrapper {
    // background-color: #a0a399;
    // padding: 0 10px;
    height: fit-content;
    width: fit-content;
    // margin: 5px;
    // margin: 1rem;
  }

  &__number {
    color: #ffffff;
    font-size: 0.8rem;
    // margin: 0.2rem;
  }

  &__name {
    font-size: 1rem;
  }

  &__techfield {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
    width: 60%;
    height: fit-content;
    // background-color: #948f8f;
    gap: 0.2rem;

    &--0 {
      color: #000000;
    }

    &--1 {
      color: #2f9aff;
    }
    &--2 {
      color: #f1ef5b;
    }

    &--3 {
      color: #008000;
    }
    &--4 {
      color: #8c5fb6;
    }
  }
}
