@use "/src/styles/colors" as *;

.create-person {
  &__back {
    position: absolute;
    height: 100%;
    width: 100%;
    // inset: 5%;
    background-color: $create-person-background-color;
  }

  &__input {
    position: absolute;
    height: fit-content;
    width: 50%;
    inset: 25%;
    background-color: $main-background-color;
    z-index: 1;
  }
}
