@use "/src/styles/colors" as *;

.time-input {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 0.2rem;

  &__time {
    font-size: 1.2rem;
    padding: 0.2rem;
    border-radius: 10px;
  }

  &__label {
    color: $date-input-label;
    background-color: $date-input-label-background;
    width: fit-content;
    border-radius: 10px;
    padding: 0 0.5rem;
  }

  &__error {
    color: date-input-label-error;
    font-size: 1rem;
  }
}
