$main-background-color: #ffffff;
$main-border-color: #000000;

$primary-font-color: #ffffff;
$secundary-font-color: #000000;

$primary-border-color: #ffffff;

$background-color-menu: #7e746e;
$button-primary: #535350;
$button-border-calendar-day: #771f1f;

$primary-calendar-head: #5c5c5c;
$primary-calendar-body: #6b5f5f;

$background-calendar-day: #8f8872;
$day--0: #913b3b;
$day--6: #21354b;

$date-input-label: #ff7f50;
$date-input-label-background: #f5f5dc;
$date-input-label-error: #dc143c;

$footer-background-color: #696969;

$logo-background-color: #535350;
$logo-name-right-color: #fffb00;
$logo-name-right-background-color: #976a59;

$person-item-background-color: #3f3939;
$person-techfield--0: #000000;
$person-techfield--1: #2f9aff;
$person-techfield--2: #f1ef5b;
$person-techfield--3: #008000;
$person-techfield--4: #8c5fb6;

$menu-cancel-button: #2a43cf;
$menu-delete-button: #cf2a2a;

$person-form-background-color: #e0d9d9;
$person-form-field-background-color: #e9e5df;
$person-form-hover-background-color: #2a43cf;
$person-form-icon-color: #16c216;
$person-form-icon-unchecked-color: #d14343;

$serviceblock-background-color: #828873;
$serviceblock-day-background-color: #808080;
$serviceblock-head-background-color: #555351;
$serviceblock-work-prority--0: #7c2d2d;
$serviceblock-work-prority--1: #c2ae40;
$serviceblock-work-prority--2: #5d8029;
$serviceblock-person-background-color: #316ea7;
$serviceblock-sidebar-background-color: #ada8a8;
$serviceblock-form-background-color: #e0d9d9;
$serviceblock-form-cancel: #e0d9d9;
$service-fieldofapp-true-border-color: #142bf8;
$service-fieldofapp-hover-color: #a8acbd;

$serviceblock-open-background-color: #535350;
$serviceblock-text-decoration-color: #fffb00;

$sidebar-background-color: #7e6e6e;

$text-input-label-font-color: #fff9f9;
$text-input-label-background-color: #225cd8;

$create-person-background-color: #3061a09a;

$edit-person-background-color: #00000080;
