@use "/src/styles/colors" as *;

.serviceblock-form-wrapper {
  display: flex;
  flex-direction: row;
}

.serviceblock-form-sidebar {
  display: flex;
  flex-direction: column;
  min-width: 12rem;
  background-color: $serviceblock-sidebar-background-color;
  overflow-y: auto;
  scrollbar-width: none;
  padding: 1rem;
  gap: 0.5rem;

  &__technician {
    color: $primary-font-color;
    border: 1px solid $primary-border-color;
    border-radius: 10px;
    padding: 0.5rem;

    &--select {
      font-weight: 800;
      color: $secundary-font-color;
      border: 3px solid $main-border-color;
    }

    p:nth-child(2) {
      font-size: 12px;
    }
  }
}

.serviceblock-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: $serviceblock-form-background-color;
  padding: 1rem;
  width: 100%;

  &__button {
    width: 10rem;
    height: fit-content;
    cursor: pointer;
  }

  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
  }

  &__cancel-button,
  &__delete-button {
    color: $menu-cancel-button;
    cursor: pointer;
  }

  &__delete-button {
    color: $menu-delete-button;
  }

  &__menu-wrapper {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  &__input-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}

.service-fieldofapp {
  &__header {
    width: fit-content;
    margin-bottom: 0.5rem;
  }

  &__fields {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 0.5rem;
    height: 3rem;
  }

  &__field {
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
    cursor: pointer;

    &--0 {
      color: $person-techfield--0;
    }

    &--1 {
      color: $person-techfield--1;
    }
    &--2 {
      color: $person-techfield--2;
    }

    &--3 {
      color: $person-techfield--3;
    }
    &--4 {
      color: $person-techfield--4;
    }

    &--true {
      background-color: $main-background-color;
      border-left: 5px solid $service-fieldofapp-true-border-color;
      border-radius: 0 10px 10px 0;
    }
  }

  &__field:hover {
    background-color: $service-fieldofapp-hover-color;
    border-radius: 0 10px 10px 0;
  }
}
