.serviceblock-form-wrapper {
  display: flex;
  flex-direction: row;
}

.serviceblock-form-sidebar {
  display: flex;
  flex-direction: column;
  min-width: 12rem;
  // height: 100%;
  background-color: #ada8a8;
  overflow-y: auto;
  scrollbar-width: none;
  padding: 1rem;
  gap: 0.5rem;

  &__technician {
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 0.5rem;

    &--select {
      font-weight: 800;
      color: #000000;
      border: 3px solid #000000;
    }

    p:nth-child(2) {
      font-size: 12px;
    }
  }
}

.serviceblock-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #e0d9d9;
  padding: 1rem;
  width: 100%;

  // overflow-y: auto;

  &__button {
    width: 10rem;
    height: fit-content;
    cursor: pointer;
  }

  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // background-color: #b1b1b1;
    padding: 0.5rem;
  }

  &__cancel-button,
  &__delete-button {
    color: #2a43cf;
    cursor: pointer;
  }

  &__delete-button {
    color: #cf2a2a;
  }

  &__menu-wrapper {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  &__input-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}

.service-fieldofapp {
  &__header {
    width: fit-content;
    margin-bottom: 0.5rem;
  }

  &__fields {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 0.5rem;
    height: 3rem;
  }

  &__field {
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
    cursor: pointer;

    &--0 {
      color: #000000;
    }

    &--1 {
      color: #2f9aff;
    }
    &--2 {
      color: #f1ef5b;
    }

    &--3 {
      color: #008000;
    }
    &--4 {
      color: #8c5fb6;
    }

    &--true {
      background-color: #ffffff;
      border-left: 5px solid #142bf8;
      border-radius: 0 10px 10px 0;
    }
  }

  &__field:hover {
    background-color: #a8acbd;
    border-radius: 0 10px 10px 0;
  }
}
