@use "/src/styles/colors" as *;

.logo {
  width: 100%;
  background-color: $logo-background-color;
  padding: 1.5rem;

  &__placeholder {
    display: flex;
    justify-content: center;
  }

  &__name {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 40px;
    background-color: $logo-background-color;
    color: $primary-font-color;
    font-size: 1.4rem;
    font-weight: 800;
    padding: 1rem;
    border: 2px solid $primary-border-color;

    &--left {
      border-radius: 45px 45px 45px 0;
      // border: 2px solid $primary-border-color;
    }

    &--right {
      border-radius: 45px 45px 0 45px;
      color: $logo-name-right-color;
      background-color: $logo-name-right-background-color;
      // border: 2px solid $primary-border-color;
    }
  }
}
