.person-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #e0d9d9;
  padding: 2rem;

  &__button {
    width: 10rem;
    height: fit-content;
    cursor: pointer;
  }

  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // background-color: #b1b1b1;
    padding: 0.5rem;
  }

  &__cancel-button,
  &__delete-button {
    color: #2a43cf;
    cursor: pointer;
  }

  &__delete-button {
    color: #cf2a2a;
  }

  &__menu-wrapper {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
}

.fieldofapplication {
  // display: flex;
  // flex-direction: column;
  width: 800px;
  height: fit-content;
  background-color: #e9e5df;

  &__header {
    font-size: 1rem;
    // background-color: #86cc78;
  }

  &__container {
    display: grid;
    grid-template-columns: 4rem 12rem auto;
    // background-color: #afc5d6;
    padding: 2px;
  }

  &__item,
  &__item-note {
    display: flex;
    justify-content: center;
    background-color: #ffffffcc;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    font-size: 1.2rem;
    align-items: center;
  }

  &__item-icon {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.8);
    align-items: center;
  }

  &__item-note {
    justify-content: left;
  }

  &__container:has(:hover) {
    cursor: pointer;
    background-color: #2a43cf;
  }

  &__icon {
    color: #16c216;

    &--unchecked {
      color: #d14343;
    }
  }
}
