@use "sass:color";
@use "/src/styles/colors" as *;

.calendar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 4rem;
    background-color: $background-color-menu;
  }

  &__create {
    display: inherit;
    padding: 0.5rem;
    gap: 1rem;
  }

  &__one-day {
    display: inherit;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: $button-primary;
    cursor: pointer;
    margin: 0 auto;
    color: $primary-font-color;
    font-size: 1.4rem;

    &--left {
      border-radius: 45px 45px 45px 0;
    }
    &--right {
      border-radius: 45px 45px 0 45px;
    }
  }

  &__number-of-days {
    display: inherit;
    gap: 1rem;
  }

  &__button {
    display: inherit;
    justify-content: center;
    font-size: 1.8rem;
    border-top: 10px solid $button-border-calendar-day;
    background-color: $button-primary;
    border-radius: 8px;
    margin: 0 auto;
    width: 3rem;
    color: $primary-font-color;
    cursor: pointer;
  }

  &__button:hover,
  &__one-day:hover {
    background-color: color.adjust($button-primary, $lightness: 80%);
    color: $secundary-font-color;
  }

  &__head {
    display: flex;
    flex-direction: row;
    height: fit-content;
    background-color: $primary-calendar-head;
    width: 100%;
    padding-right: 0.4rem;
  }

  &__head-info {
    min-width: 6rem;
  }

  &__head-info-placeholder {
    min-width: 100%;
    height: 100%;
  }

  &__head-date {
    width: 100%;
    background-color: $primary-calendar-head;
  }

  &__body {
    background-color: $primary-calendar-body;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    background-color: $primary-calendar-body;
    padding-right: 0.4rem;
  }

  &__persons,
  &__body {
    background-color: $primary-calendar-body;
    height: fit-content;
    min-width: 6rem;
  }

  &__body {
    width: 100%;
    overflow-x: auto;
  }

  &__add-person,
  &__add-serviceblock {
    cursor: pointer;
  }

  &__add-person:hover,
  &__add-serviceblock:hover {
    fill: color.adjust($button-primary, $lightness: 80%);
  }

  &__days {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  &__day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $primary-font-color;
    background-color: $background-calendar-day;
    border-radius: 10px;
    height: fit-content;
    border: 2px solid $primary-border-color;
    width: 100%;
    font-size: 0.8rem;
    margin: 0.5rem 0.2rem;
  }

  &__day--0 {
    color: $day--0;
  }

  &__day--6 {
    color: $day--6;
  }

  &__day-date {
    font-size: 1.4rem;
    font-weight: 800;
  }

  &__day-month {
    font-size: 0.8rem;
  }

  &__day-year {
    font-size: 0.8rem;
  }

  &__day-weekday {
    font-size: 1rem;
    font-weight: 800;
  }
}
