.calendar {
  display: flex;
  flex-direction: column;
  // background-color: #ce97cb;
  width: 100%;
  height: 100%;

  &__menu {
    min-height: 4rem;
    background-color: #7e746e;
  }

  &__head {
    display: flex;
    flex-direction: row;
    height: fit-content;
    background-color: #98ca98;
    width: 100%;
    // padding: 1rem;
  }

  &__head-info {
    min-width: 6rem;
    // width: 15%;

    // background-color: #a2d4c1;
    background-color: #5c5c5c;
    color: #fff8dc;
    // padding: 0.5rem;
  }

  &__head-info-placeholder {
    min-width: 100%;
    height: 100%;
    // background-color: #51ff00;
  }

  &__head-date {
    width: 100%;
    background-color: #5c5c5c;
    // padding: 0 0.5rem;
  }

  &__body {
    background-color: #ffffb7;
    // width: 90%;
    // height: 100%;
    // height: 100%;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    // background-color: #c28aba;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    // margin: 1rem 0;
    scrollbar-width: none;
    margin: 0 auto;
  }

  &__persons,
  &__body {
    background-color: #6b5f5f;
    height: fit-content;
    min-width: 6rem;
    // width: 15%;

    // padding: 0.5rem;
  }

  &__body {
    width: 100%;
    overflow-x: auto;
  }

  &__add-person,
  &__add-serviceblock {
    cursor: pointer;
  }

  &__add-person:hover,
  &__add-serviceblock:hover {
    // color: white;
    fill: #51ff00;
  }

  &__days {
    display: flex;
    flex-direction: row;
    align-items: center;
    // height: 10rem;
    // background-color: #828873;
    // width: 100%;
    height: 100%;
    width: 100%;
    // gap: 0.2rem;
  }

  &__day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #8f8872;
    border-radius: 10px;
    height: fit-content;
    border: 2px solid #ffffff;
    width: 100%;
    font-size: 0.8rem;
    margin: 0.5rem 0.2rem;
  }

  &__day--0 {
    color: #913b3b;
    // border: 2px solid #ff0000;
  }

  &__day--6 {
    color: #21354b;
    // border: 2px solid #ff0000;
  }

  &__day-date {
    font-size: 1.5rem;
    font-weight: 800;
  }

  &__day-month {
    font-size: 0.8rem;
  }

  &__day-year {
    font-size: 0.8rem;
    // color: #1b1a1a;
  }

  &__day-weekday {
    font-size: 1rem;
    font-weight: 800;

    &--color {
      color: #c71818;
    }
  }
}
