.calendar {
  display: flex;
  flex-direction: column;
  // background-color: #ce97cb;

  width: 100%;
  height: 100%;

  &__menu {
    min-height: 4rem;
    background-color: #e0b79f;
  }

  &__head {
    display: flex;
    flex-direction: row;
    height: 4rem;
    background-color: #98ca98;
  }

  &__head-info {
    width: 20%;
    // background-color: #a2d4c1;
    background-color: #5c5c5c;
    color: cornsilk;
  }

  &__head-date {
    width: 100%;
    background-color: #8fa2cc;
  }

  &__body {
    // background-color: #ffffb7;
    width: 100%;
    height: 100%;
    // height: 100%;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    // background-color: #c28aba;
    // width: 100%;
    height: 100%;
    overflow-y: auto;
    // margin: 1rem 0;
    scrollbar-width: none;
  }

  &__persons {
    background-color: #5c5c5c;
    height: fit-content;
    width: 20%;
    padding: 1rem 0;
  }

  &__add-person {
    cursor: pointer;
  }

  &__add-person:hover {
    // color: white;
    fill: #51ff00;
  }
}
