.date-input {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 0.2rem;

  &__date {
    font-size: 1.3rem;
    padding: 0.5rem;
    border-radius: 10px;
  }

  &__label {
    color: coral;
    background-color: beige;
    width: fit-content;
    border-radius: 10px;
    padding: 0 1rem;
  }

  &__error {
    color: crimson;
    font-size: 1rem;
  }
}
