@use "/src/styles/colors" as *;

.edit-person {
  &__back {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #00000080;
  }

  &__input {
    position: absolute;
    height: fit-content;
    width: 60%;
    margin: 5% 20%;
    background-color: $main-background-color;
    z-index: 1;
  }
}
