.edit-serviceblock {
  &__back {
    position: absolute;
    height: 100%;
    width: 100%;
    // inset: 5%;
    background-color: #00000080;
  }

  &__input {
    position: absolute;
    // height: 80%;
    height: fit-content;
    width: 60%;
    // inset: 10%;
    margin: 5% 20%;

    background-color: #ffffff;
    z-index: 1;
    overflow-y: auto;
  }
}
