@use "/src/styles/colors" as *;

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: $sidebar-background-color;
  height: 100%;

  &__item-wrapper {
    overflow-y: auto;
    scrollbar-width: none;
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  &__header {
    margin: 0.5rem auto;
    color: $primary-font-color;
  }
}
