.sidebar {
  // margin: 0rem auto;
  display: flex;
  flex-direction: column;
  background-color: #7e746e;
  height: 100%;
  // max-width: 250px;

  // &__logo {
  //   height: 4rem;
  // }

  &__item-wrapper {
    overflow-y: auto;
    scrollbar-width: none;
  }

  &__items {
    background-color: #7e746e;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    // background-color: #f5f5dc;
    gap: 1rem;
  }

  &__header {
    margin: 0.5rem auto;
    color: #ffffff;
  }

  &__items-text {
    border-bottom: 2px solid #6054ca;
    width: 60%;
    text-align: center;
  }
}

// @media only screen and (max-width: 500px) {
//   .sidebar-items {
//     &__action {
//       flex-direction: row;
//       height: 2rem;
//     }
//   }
// }
